body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.container {
    padding: 0 120px;
    background-color: #fff;
}

/* <!--Cover Section Start --> */

.header-section {
    height: 500px;
    background-image: url(img/cover01.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

.header-content {
    text-align: center;
    padding-top: 140px;
}

.header-content h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.header-content p {
    color: white;

}

.header-content a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: rgb(255, 72, 0);
    padding: 10px 20px;
}

/* <!-- Cover Section End --> */

/* <!-- Donation Today Start --> */
.donate-section {
    margin-top: 50px;
}

.section-header {
    text-align: center;
    padding-top: 50px;
}

.section-header h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.section-header p {
    margin: 18px 0;
    padding: 0 265px;
    font-size: 15px;
    color: #8d8989;
    line-height: 24px;
}

.donate-content {
    padding: 0 200px;
}

.donate-amount {
    display: flex;
    justify-content: space-between;
}

.donate-amount-count {
    background-color: rgb(248, 245, 245);
    color: rgb(49, 47, 47);
    padding: 20px;
    border-radius: 5px;
}

.primary-amount {
    padding: 20px 30px;
}

.still-amount {
    background-color: rgb(252, 220, 220);
    padding: 20px 30px;
    border: 2px solid rgb(255, 133, 34);
    border-radius: 5px;
}

.donate-now-button {
    text-align: center;
    margin-top: 38px;
}

.donate-now-button a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: rgb(255, 72, 0);
    padding: 10px 20px;

}

.other-amount {
    border-bottom: 1px solid rgb(224, 224, 224);
    margin-top: 20px;
    text-align: center;
    padding: 5px 0;
}

.other-amount input {
    border: none;
    margin-left: 48px;
}

/* ========<!-- Donation Today End --> ========*/


/* =======<!-- Donation Plan Start -->========== */

.donation-plan {
    margin-top: 50px;
}

.donation-item {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

.single-plan {
    flex: 1;
    margin: 10px;
    padding: 10px 15px;
}

.donation-item-food {
    background-color: rgb(255, 214, 214);
}

.donation-item-family {
    background-color: rgb(238, 243, 172);
}

.donation-item-education {
    background-color: rgb(214, 253, 248);
}

.food-icon img {
    height: 60px;
    width: 61px;
}



/* ============<!-- Donation Plan End --> ==============*/


/*=============== <!-- Helping Hand Start -->============== */

.helping-hand {
    margin: 100px 0;
}

.helping-hand-block {
    display: flex;
    margin-top: 70px;
}

.helping-hand-header {
    margin-left: 40px;
    margin-right: 40px;
    width: 50%;
    margin-top: 35px;
}

.helping-hand-header h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.helping-hand-header p {
    margin: 18px 0;
    padding: 0 0px;
    font-size: 15px;
    color: #8d8989;
    line-height: 24px;
}

.helping-hand-button a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: rgb(255, 72, 0);
    padding: 10px 20px;
}

.helping-hand-image {
    width: 50%;
}

.helping-hand-image img {
    width: 100%;
}

/*===============<!-- Helping Hand Start -->=============== */


/* =========<!-- Subscription Section Start -->====== */
.subscription-body {
    background-color: rgb(255, 244, 180);
    padding: 56px 0px;
    margin: 27px 245px;
}

.email-submission {
    display: flex;
    justify-content: center;
    text-decoration: none;

}

.subscription-email input {

    background-color: rgb(223, 222, 222);
    border: none;
    padding: 5px 10px;

}

.subscription-button input {
    color: #fff;
    background-color: rgb(255, 72, 0);
    border: none;
    padding: 5px 10px;

}

/*========= <!-- Subscription Section End -->======= */


/* Footer start  */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;

}

.footer h1 {
    margin: 0;
}

/* Footer End  */