body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* <!--Cover Section Start --> */

.header-section {
    height: 500px;
    background-image: url(img/cover01.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

.header-content {
    text-align: center;
    padding-top: 140px;
}

.header-content h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.header-content p {
    color: white;

}

.header-content a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    background-color: rgb(255, 72, 0);
    padding: 10px 20px;
}

/* <!-- Cover Section End --> */

/* <!-- Donation Today Start --> */
.donate-content {
    text-align: center;
    padding-top: 50px;
}

.donate-content h1 {
    font-size: 50px;
    font-weight: 700;
}

.donate-amount {
    display: flex;
    justify-content: center;
}

.donate-amount-count {
    background-color: rgb(248, 245, 245);
    color: rgb(49, 47, 47);
    margin-left: 20px;
    padding: 20px;
}

.primary-amount {
    padding: 20px 30px;
}

.still-amount {
    background-color: rgb(252, 220, 220);
    padding: 20px 30px;
    border: 2px solid rgb(255, 133, 34);
}

/* <!-- Donation Today End --> */